<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845802066374-cj5sq47onn5lestgqettipen30oebrmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845802066374-cj5sq47onn5lestgqettipen30oebrmq</string>
	<key>API_KEY</key>
	<string>AIzaSyA1YLGrmowbEYyrabAliRtinexHjV08BLc</string>
	<key>GCM_SENDER_ID</key>
	<string>845802066374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Arsalan.GPA-Calculator</string>
	<key>PROJECT_ID</key>
	<string>gpa-calculator-73c08</string>
	<key>STORAGE_BUCKET</key>
	<string>gpa-calculator-73c08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845802066374:ios:f63eae1b42a5a74d</string>
	<key>DATABASE_URL</key>
	<string>https://gpa-calculator-73c08.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2093824465891343~1538635312</string>
</dict>
</plist>